version: "3"

services:
  postgresql-database:
    build:
      context: ./docker
      dockerfile: Dockerfile
      args:
        USER_ID:  "${POSTGRESQL_GROUP_ID}"
        GROUP_ID: "${POSTGRESQL_GROUP_ID}"
    container_name: postgresql-database
    networks:
      - traefik
    restart: always
    volumes:
      - "${POSTGRESQL_PATH}:/var/lib/postgresql/data"
    labels:
      - "traefik.enable=true"
      - "traefik.tcp.routers.postgres.rule=HostSNI(`*`)"
      - "traefik.tcp.routers.postgres.service=postgres"
      - "traefik.tcp.routers.postgres.tls=false"
      - "traefik.tcp.services.postgres.loadbalancer.server.port=postgresql"
      - "traefik.tcp.routers.postgres.entryPoints=postgresql"
    environment:
      POSTGRES_PASSWORD: "${POSTGRESQL_PASSWORD}"
      TZ: "${POSTGRESQL_TZ}"

networks:
  traefik:
    external:
      name: traefik